* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: #f7f7f9;
}

ul {
  padding: 0;
}

h1 {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  line-height: 52px;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  color: #6070ff;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

button:enabled {
  border: 1px solid #7f8cff;
  background: #fff;
  color: #6070ff;
}

button:hover {
  background: #6070ff;
  color: #fff;
  box-shadow: 0.1px 8px 16px rgba(64, 83, 252, 0.24);
}

button:active {
  background: #2230d2;
  color: #fff;
}

button:disabled {
  border: 1px solid #c1c7d0;
  background-color: #fff;
  color: #5e6c84;
}

h5 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.heading {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  line-height: 52px;
}

@media only screen and (min-width: 375px) {
  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: white;

    .hamBurger {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 8px;
      color: #6070ff;
    }
  }

  #headline {
    background-image: url(./assets/header-shapes-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 114px 24px;
    gap: 12px;
    border-radius: 0 0 0 5rem;
    background-color: white;

    .connect {
      color: #7f8cff;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }

    .socialIcons {
      display: flex;
      align-items: baseline;
      gap: 1rem;
    }
  }

  #works {
    display: grid;
    padding: 114px 24px;
    gap: 88px;

    .project {
      display: flex;
      flex-direction: column;
      padding: 16px;
      gap: 12px;
      background: #fff;
      border: 1px solid #dfe1e6;
      border-radius: 16px;

      .projectDescription {
        display: grid;
        padding: 0;
        gap: 12px;

        .projectTools {
          display: grid;
          grid-auto-flow: column;
          justify-content: start;
          padding: 0;
          gap: 12px;

          .canopy {
            font-weight: 600;
            font-size: 13px;
            color: #344563;
          }
        }

        .projectTechnology {
          display: grid;
          grid-auto-flow: column;
          justify-content: start;
          padding: 0;
          gap: 12px;

          .tag {
            padding: 4px 12px;
            background: #ebebff;
            border-radius: 8px;
            color: #6070ff;
          }
        }
      }
    }
  }

  #aboutme {
    display: grid;
    align-items: start;
    justify-content: start;
    padding: 114px 24px;
    gap: 12px;
    border-radius: 0 0 0 5rem;
    background-color: white;

    .top {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
      gap: 12px;

      .socialIconsGrid {
        display: grid;
        grid-auto-flow: column;
        justify-content: start;
        align-items: baseline;
        gap: 1rem;
      }

      .letconnect {
        color: #7f8cff;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
      }
    }

    .myskills {
      width: 100%;
      display: grid;

      .languages {
        width: 100%;
        display: grid;

        .lan_head {
          width: 100%;
          display: grid;
          grid-auto-flow: column;
          justify-content: space-between;
          padding: 1rem 0.1px;
        }

        .lan_list {
          display: grid;
          gap: 12px;
          width: 100%;

          .lan_list_detail {
            display: grid;
            grid-auto-flow: column;
            justify-content: start;
            align-items: center;
            width: 100%;
            padding: 8px 0.1px;
            background: #f7f7f9;
            border-radius: 8px;
            gap: 16px;

            .list_img {
              padding-left: 10px;
              width: 48px;
              height: 48px;
            }
          }
        }
      }
    }
  }
}
