* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primaryColor: #6070ff;
  --headingtextColor: #172b4d;
  --bodyTextColor: #344563;
  --backgroundColor: #f7f7f9;
}

body {
  background: #f7f7f9;
  height: 100vh;
}

ul {
  padding: 0;
}

h1 {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  line-height: 52px;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  color: #6070ff;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.button1:enabled {
  border: 1px solid #7f8cff;
  background: #fff;
  color: #6070ff;
}

.button1:hover {
  background: #6070ff;
  color: #fff;
  box-shadow: 0.1px 8px 16px rgba(64, 83, 252, 0.24);
}

.button1:active {
  background: #2230d2;
  color: #fff;
}

.button1:disabled {
  border: 1px solid #c1c7d0;
  background-color: #fff;
  color: #5e6c84;
}

h5 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.heading {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  line-height: 52px;
}

@media only screen and (min-width: 375px) {
  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: white;

    .menu {
      display: none;
      flex-direction: column;
      text-align: center;
      width: 100%;
      height: 100vh;
      background: #6070ffd7;
      backdrop-filter: blur(5px);
      position: fixed;
      gap: 1rem;
      padding: 8px;
      margin-right: 24px;
      top: 0;
      left: 0;

      #cross {
        align-self: flex-end;
        margin-top: 1rem;
        margin-right: 1rem;
      }

      .lil {
        padding: 0.5rem;
        display: flex;
        margin-left: 1rem;

        .menu_item {
          color: white;
          padding: 8px;
          font-size: 2rem;
          font-weight: 700;
        }
      }
    }

    .menu:active {
      display: none;
    }

    .Menuicon {
      color: #6070ff;
      padding: 10px 12px;
      margin-left: 12px;
      display: flex;
    }
  }

  #headline {
    background-image: url(./assets/header-shapes-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 114px 24px;
    gap: 12px;
    border-radius: 0 0 0 5rem;
    background-color: white;

    .connect {
      color: #7f8cff;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }

    .socialIcons {
      display: flex;
      align-items: baseline;
      gap: 1rem;
    }
  }

  #works {
    display: grid;
    padding: 114px 24px;
    gap: 88px;

    .project {
      display: flex;
      flex-direction: column;
      padding: 16px;
      gap: 12px;
      background: #fff;
      border: 1px solid #dfe1e6;
      border-radius: 16px;

      .projectDescription {
        display: grid;
        padding: 0;
        gap: 12px;

        .projectTools {
          display: grid;
          grid-auto-flow: column;
          justify-content: start;
          padding: 0;
          gap: 12px;

          .canopy {
            font-weight: 600;
            font-size: 13px;
            color: #344563;
          }
        }

        .projectTechnology {
          .tag {
            float: left;
            padding: 4px 12px;
            background: #ebebff;
            border-radius: 8px;
            color: #6070ff;
            margin-right: 12px;
          }
        }
      }
    }
  }

  #aboutme {
    display: grid;
    align-items: start;
    justify-content: start;
    padding: 114px 24px;
    gap: 12px;
    border-radius: 0 0 0 5rem;
    background-color: white;

    .top {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
      gap: 12px;

      .socialIconsGrid {
        display: grid;
        grid-auto-flow: column;
        justify-content: start;
        align-items: baseline;
        gap: 1rem;
      }

      .letconnect {
        color: #7f8cff;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
      }
    }

    .myskills {
      width: 100%;
      display: grid;

      .languages {
        width: 100%;
        display: grid;

        .lan_head {
          width: 100%;
          display: grid;
          grid-auto-flow: column;
          justify-content: space-between;
          padding: 1rem 0.1px;
        }

        .lan_list {
          display: grid;
          gap: 12px;
          width: 100%;

          .lan_list_detail {
            display: grid;
            grid-auto-flow: column;
            justify-content: start;
            align-items: center;
            width: 100%;
            padding: 8px 0.1px;
            background: #f7f7f9;
            border-radius: 8px;
            gap: 16px;

            .list_img {
              padding-left: 10px;
              width: 48px;
              height: 48px;
            }
          }
        }
      }
    }
  }

  #contact {
    background-image: url("./assets/contactme.svg");
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    flex-direction: column;
    padding: 114px 24px;
    grid-gap: 12px;
    border-radius: 5rem 0 0 0;
    background-color: #6070ff;

    .contact_detail {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      .head {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 52px;
        display: flex;
        align-items: center;
        text-align: center;
        color: white;
      }

      .detail {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        color: #ebebff;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: 2rem;

      .input {
        padding: 12px;
        background: white;
        border: 1px solid #cfd8dc;
        border-radius: 8px;
      }

      .submitt {
        display: flex;
        align-self: flex-start;
        background: white;
        border: 1px solid #7f8cff;
        border-radius: 8px;
        padding: 12px;
        color: #6070ff;
        font-weight: 500;
        font-size: 17px;
        line-height: 24px;
      }

      .submitt:hover {
        background: #6070ff;
        box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
        color: white;
        border-radius: 8px;
      }

      .submitt:active {
        background: #2230d2;
        border-radius: 8px;
      }

      .submitt:disabled {
        border: 1px solid #c1c7c0;
        border-radius: 8px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  #header {
    padding: 1rem 143px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;

    .menu {
      display: flex !important;
      gap: 1rem;
      padding: 8px;
      margin-right: 24px;
      position: unset;
      width: unset;
      height: unset;
      background: unset;
      backdrop-filter: unset;
      text-align: unset;
      flex-direction: unset;

      #cross {
        display: none;
        align-self: flex-start;
        margin-top: 1rem;
        margin-left: 1rem;
      }

      .lil {
        display: flex;

        .menu_item {
          color: #344563;
          padding: 8px;
          font-size: unset;
          font-weight: unset;
        }
      }
    }

    .Menuicon {
      display: none;
      color: #6070ff;
      padding: 10px 12px;
      margin-left: 12px;
    }
  }

  #headline {
    padding: 0;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: none;
    background-image: url(./assets/Headerbg.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    .text {
      width: 70%;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .heading {
        width: 60%;
      }

      .para {
        width: 80%;
      }

      .connect {
        color: #7f8cff;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
      }

      .socialIcons {
        display: flex;
        align-items: baseline;
        gap: 1rem;
      }
    }
  }

  #works {
    justify-items: center;

    .project2 img {
      order: 2;
    }

    .project2 .card_detail {
      order: 1;
    }

    .project4 img {
      order: 2;
    }

    .project4 .card_detail {
      order: 1;
    }

    .project {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-flow: column;
      padding: 24px;
      grid-gap: 36px;
      width: 80%;

      .image {
        height: 100%;
        object-fit: fill;
      }

      .projectDescription {
        display: grid;
        height: 100vh;
        gap: 2rem;
      }
    }

    .project img:hover {
      transform: scale(0.9);
    }
  }

  #aboutme {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    padding: 114px 100px;

    .top {
      gap: 2rem;
    }

    .myskills {
      .languages {
        .lan_list {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 12px;
          gap: 12px;

          .lan_list_detail {
            display: grid;
            grid-auto-flow: row;
            justify-items: flex-start;
            align-items: center;
            padding-left: 1rem;
            padding-bottom: 1rem;
            padding-top: 1rem;
            padding-right: 2rem;
            background: #f7f7f9;
            border-radius: 8px;
            width: fit-content;
            gap: 1rem;
          }
        }
      }
    }
  }

  #contact {
    align-items: center;

    .contact_detail {
      width: 50%;
    }

    .form {
      width: 40%;

      .submitt {
        align-self: center;
      }
    }
  }
}
